---
import BaseBlog from "@layouts/BaseBlog.astro";
import Blog from "@components/Blog.astro";
---

<BaseBlog>
  <div class="px-10 mt-20">
    <h1 class="uppercase font-bold text-base md:text-2xl text-center">
      Acompañame en este viaje en el mundo de IT
    </h1>
    <p class="text-main text-center text-sm underline uppercase">Blog</p>
  </div>
  <Blog />
</BaseBlog>
