<div class="px-10 sm:mt-24">
  <div class="w-full h-full flex justify-center items-center px-40">
    <main class="px-20">
      <section>
        <h1 class="text-2xl">
          Hola soy <span class="text-main">Daniel</span>
        </h1>
        <h2>desarrollador de software</h2>
      </section>
      <section>
        <p>
          Mi objetivo es contribuir a proyectos significativos, aportando tanto
          mi capacidad técnica como mi experiencia en liderazgo. Busco colaborar
          con equipos que valoran la excelencia y la innovación.
        </p>
      </section>
    </main>
    <img src="/profile.png" class="w-80" alt="daniel colmenares" />
  </div>
</div>
