---
import Meta from "./Meta.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

// Supports weights 100-900
import "@fontsource-variable/onest";

import config from "@/config/config.json";
const { favicon, metaData } = config.site;
---

<!doctype html>
<html lang="es">
  <head>
    <Meta
      title={metaData.blog.titlePage}
      description={metaData.blog.description}
      keywords={metaData.blog.keywords}
      icon={favicon}
    />
  </head>
  <body>
    <Header />
    <slot />
    <style is:global>
      body {
        @apply bg-bgbase text-white;
        font-family: "Onest Variable", sans-serif;
      }
    </style>
    <Footer />
  </body>
</html>
